@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
.imgCarousel {
  // border: #fa2020 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vw;
  flex-direction: row;

  .carousel {
    // border: blue 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    height: 100%;

    .display {
      // border: brown 2px solid;
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 93%;

      img {
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      .slide_direction {
        position: absolute;
        z-index: 1;
        font-size: 1.5rem;
        color: lightgray;
      }
      .slide_direction:hover {
        color: #0a58ca;
      }
      .left {
        left: 5px;
      }
      .right {
        right: 5px;
      }
    }
    .indicator {
      // border: green 2px solid;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 100%;
      height: 7%;
      .dot {
        // background-color: #a3beee;
        border: #0a58ca 2px solid;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        margin: 0rem 1rem;
      }
      .slick-active {
        background-color: #0a58ca;
      }
    }
  }
}
