main {
  margin: 2rem;
  .promotion {
    justify-content: center;
    h1,
    h2 {
      text-align: center;
    }
    h1 {
      color: green;
    }
    h2 {
      color: rgb(187, 11, 11);
    }
    .img_container {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 60vw;
        height: 40vw;
      }
    }
  }
}
